.carousel {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;

}

.carouselContent {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  gap: 1rem;
  width: 100%;

  
}

.carouselItem {
  margin-right: 10px;
  transition: transform 0.3s ;
  cursor: pointer;
  width: 25%;
}


/* .carouselItem img {
  width: 100%;
  object-fit: contain;
} */

.carousel .prevbtn,
.carousel .nextbtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  border-radius: 50%;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1;
}

.carousel .prevbtn {
  left: 0;
}

.carousel .nextbtn {
  right: 0;
}

.carousel .prevbtn.disabled {
  background-color: transparent;
  color: gray;

}

.carousel .nextbtn.disabled {
  background-color: transparent;
  color: gray;
  
}



@media only screen and (max-width: 767px) {
  .carousel .prevbtn, .carousel .nextbtn {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .carousel .prevbtn, .carousel .nextbtn {
    display: none;
  }
}
