.container {
  display: grid;
  margin: 0px auto 0px;
  padding: 1em;
}

/* here comes the search input  */
.search-container form {
  display: grid;
  grid-template-columns: 2fr 1fr ;
  margin: 6px 0 6px 0;
}

.search-container .search {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  border: 1px solid;
  border-radius: 8px;
  margin-right: auto;
}

.search-container .search button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.search-container .sort {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  gap: 5px;
}

.search-container .sort select {
  border-radius: 8px;
}


.search-container form .search  .search-input {
  width: 100%;
  border-radius: 10px;
  margin: auto;
  font-size: 1rem;
  border: none;
}

.search-container form .search .search-button {
  border: none;
  background-color: white;
}

/* Card container */
.cardContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: white;
  border-radius: 10px;
  gap: 0.4rem;
}



/* Responsive styles */
@media only screen and (max-width: 700px) {
  .container {
    padding: 0;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    border-radius: 10px;
    gap: 0.4rem;
  }

  .card {
    width: auto;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 0;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    border-radius: 10px;
    gap: 0.4rem;
  }

  .card {
    width: auto;
  }
}
